<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/expost" method="post">
        <input type="text" name="name" id="">
        <input type="number" name="phone" id="">
        <input type="date" name="date" id="">
        <input type="submit" value="전송하기">
    </form> -->
    <form action="/expost/addbook" method="post">
        <input type="text" name="bookname" id="">
        <input type="text" name="author" id="">
        <input type="number" name="price" id="">
        <input type="date" name="date" id="">
        <input type="submit" value="전송하기">
    </form>
</body>
</html>